@model GestaoPI.Models.Patente

@{
    ViewData["Title"] = "Delete";
}

<h1>Patente > Excluir</h1>

<div>
    <h4>Processo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deposito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deposito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DominioPublico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DominioPublico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anotacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anotacao)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Codigo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
