@model IEnumerable<GestaoPI.Models.Patente>
  @{ ViewData["Title"] = "Patente"; }

  <h1>Processos > Patente</h1>

  <p>
    <a asp-action="Create"><button type="button" class="btn btn-primary">Cadastar</button></a>
  </p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="text-center">
        <th>@Html.DisplayNameFor(model => model.Codigo)</th>
        <th>@Html.DisplayNameFor(model => model.Titulo)</th>
        <th>@Html.DisplayNameFor(model => model.Deposito)</th>
        <th>@Html.DisplayNameFor(model => model.Exame)</th>
        <th>@Html.DisplayNameFor(model => model.DominioPublico)</th>
        <th>Detalhes</th>
        <th>Despachos</th>
        <th>Serviços</th>
        <th>Anuidades</th>
        <th>Documentos</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {
      <tr>
      <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Codigo)

      </td>
      <td class="flex-wrap">@Html.DisplayFor(modelItem => item.Titulo)

      </td>
      <td>@Html.DisplayFor(modelItem => item.Deposito)

      </td>
      <td>@Html.DisplayFor(modelItem => item.Exame)

      </td>
      <td>@Html.DisplayFor(modelItem => item.DominioPublico)

      </td>
      <td class="text-center">
        <a asp-action="Details" asp-route-id="@item.Codigo"><i class="bi bi-eye"></i></a>
      </td>
      <td class="text-center">
        <i class="bi bi-arrow-down-square"></i>
      </td>
      <td class="text-center"><i class="bi bi-arrow-up-square"></i></td>
      <td class="text-center"><i class="bi bi-calendar"></i></td>
      <td class="text-center"><i class="bi bi-archive"></i></td>
      <td class="text-center"><a asp-action="Edit" asp-route-id="@item.Codigo"><i class="bi bi-gear"></i></a></td>
    </tr>
        }
    </tbody>
  </table>
</GestaoPI.Models.Patente>